<li data-name="<%= name %>" data-id="<%= id %>" data-type="<%= type %>" data-avatar="<%= avatar %>">
	<img src="<%= avatar %>?width=70&height=70"/><span class="item-name" title="<%= name %>"><%= name %></span>
	<span class="item-icon JS-icon"></span>
</li>