<div class='share-hd'>
	<h2>请选择存储位置</h2>
</div>
<div class="share-bd">
	<div class="left">
		<h3 class="title">选择成员</h3>
		<div class="search">
			<input placeholder="搜索">
			<span class='search-icon'></span>
		</div>
		<div class="people-list">
			<div class="group JS-group"></div>
			<ul class="JS-groupList"></ul>
			<div class="group JS-department"></div>
			<ul class="JS-departmentList"></ul>
			<ul></ul>
		</div>
	</div>
	<div class="right">
		<h3 class="title">已选择成员</h3>
		<div class="select-list JS-selectList"></div>
	</div>
</div>
<div class="share-ft">
	<span class="cancel JS-cancel">取消</span>
	<span class="ok JS-ok">确定</span>
</div>